Checks: >
    bugprone-*,
    cppcoreguidelines-*,
    modernize-*,
    performance-*,
    readability-*,
    -modernize-use-trailing-return-type

HeaderFilterRegex: '.*/(include/dandan|src/dandan|src/main\.cpp).*'
WarningsAsErrors: '*'